/* GENERAL */
:root {
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --navy-blue: #2e2f42;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --green: #31d0aa;

  --card-hover-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  --tab-hover-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  --modal-shadow: 0px 2px 1px 0px #00000033, 0px 1px 3px 0px #0000001f,
    0px 1px 1px 0px #00000024;
  --button-hover-shadow: 0px 4px 4px 0px #00000026;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );

  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 48px;
  --gap-xxl: 72px;

  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-rd: 50%;

  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 0.25s;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

address {
  font-style: normal;
}

a {
  color: var(--slate);
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 76px;
}

.header__nav a {
  display: block;
  color: var(--navy-blue);
  font-weight: 500;
  position: relative;
  padding: 24px 0;
  transition: color var(--transition-duration) var(--transition-effect);
  outline: none;
}

.header__nav a:not(.logo)::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: var(--border-radius-sm);
  background-color: var(--ocean);
  opacity: 0;
  transition: opacity var(--transition-duration) var(--transition-effect);
}

.header__nav a.active:after {
  opacity: 1;
}

.header__nav a:not(.logo):hover,
.header__nav a:not(.logo):focus {
  color: var(--iris);
}

.header__nav a:not(.logo):hover:after,
.header__nav a:not(.logo):focus:after {
  opacity: 1;
}

.header__contacts ul,
.header__nav ul {
  display: flex;
  gap: 40px;
}

.header__contacts a {
  padding: 24px 0;
  transition: color var(--transition-duration) var(--transition-effect);
  outline: none;
}

.header__contacts a:hover,
.header__contacts a:focus {
  color: var(--iris);
}

/* FOOTER */
.footer {
  color: var(--cloud);
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer__section {
  color: var(--cloud);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.footer__section:nth-child(1) {
  width: 264px;
  margin-right: 40px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.footer .socials {
  gap: var(--gap-md);
  justify-content: flex-start;
}

.footer .socials a:hover,
.footer .socials a:focus {
  background-color: var(--green);
}

.footer__form {
  display: flex;
  gap: var(--gap-lg);
}

.footer__form input {
  box-shadow: var(--button-hover-shadow);
  border: 1px solid var(--white);
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 24px;
  border-radius: var(--border-radius-md);
  width: 264px;
  color: var(--white);
  transition: border-color var(--transition-duration) var(--transition-effect);
  outline: none;
}

.footer__form input::placeholder {
  color: var(--white);
}

.footer__form input:focus {
  border-color: var(--iris);
}

.footer__form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  border-radius: var(--border-radius-md);
  background-color: var(--iris);
  padding: 8px 24px;
  color: var(--white);
  transition: background-color var(--transition-duration)
    var(--transition-effect);
}

.footer__form button:hover,
.footer__form button:focus {
  background-color: var(--ocean);
}

/* LOGO */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.logo.light {
  color: var(--cloud);
}

.logo .blue {
  color: var(--iris);
}

/* SOCIALS */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-rd);
  background-color: var(--iris);
  color: var(--white);
  transition: background-color var(--transition-duration)
    var(--transition-effect);
}

.socials a:hover,
.socials a:focus {
  background-color: var(--ocean);
}

.section {
  padding: 120px 0;
}

.section--hero {
  padding: 188px 0;
  background-image: var(--hero-gradient), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.section--projects {
  padding-top: 96px;
}

.section--jobs {
  padding-top: 0;
}

.section--team {
  background-color: var(--cloud);
}

/* MAIN PAGE */
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
}

.hero__content h1 {
  max-width: 45%;
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
}

.primary-btn {
  background-color: var(--iris);
  color: var(--white);
  padding: 16px 32px;
  border-radius: var(--border-radius-md);
  transition: background-color var(--transition-duration)
      var(--transition-effect),
    box-shadow var(--transition-duration) var(--transition-effect);
  box-shadow: var(--button-hover-shadow);
  outline: none;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--ocean);
}

.description__wrapper {
  display: flex;
  gap: var(--gap-lg);
}

.description__wrapper li {
  color: var(--navy-blue);
  gap: var(--gap-sm);
  display: flex;
  flex-direction: column;
}

.description__wrapper li h3 {
  font-weight: 500;
  font-size: 20px;
}

.description__wrapper li p {
  color: var(--slate);
}

.description__icon {
  width: 100%;
  padding: 24px;
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}

.jobs__image-wrapper {
  display: flex;
  justify-content: space-between;
}

.team__image-wrapper {
  display: flex;
  justify-content: space-between;
}

.team__card {
  width: fit-content;
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
  box-shadow: var(--card-hover-shadow);
}

.team__card img {
  display: block;
}

.team__card-footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  align-items: center;
  padding: 32px 16px;
}

.team__card-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
}

.team__card-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.team__card .socials {
  gap: var(--gap-lg);
}

.customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers a {
  display: flex;
  padding: 16px 32px;
  color: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: var(--border-radius-md);
  transition: color var(--transition-duration) var(--transition-effect),
    border-color var(--transition-duration) var(--transition-effect);
}

.customers a:hover {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* PORTFOLIO PAGE */
.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-row-gap: var(--gap-xl);
  grid-column-gap: var(--gap-lg);
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
  margin-bottom: 72px;
}

.tabs button {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: var(--border-radius-md);
  transition: box-shadow var(--transition-duration) var(--transition-effect),
    color var(--transition-duration) var(--transition-effect),
    border-color var(--transition-duration) var(--transition-effect);
  outline: none;
}

.tabs button:not(.active):hover,
.tabs button:not(.active):focus {
  box-shadow: var(--tab-hover-shadow);
}

.tabs button:hover,
.tabs button:focus,
.tabs button.active {
  background-color: var(--ocean);
  color: var(--white);
  border-color: var(--ocean);
}

.projects__card {
  cursor: pointer;
  transition: box-shadow var(--transition-duration) var(--transition-effect);
}

.projects__card img {
  display: block;
}

.projects__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--white);
  padding: 40px 32px;
  transition: bottom var(--transition-duration) var(--transition-effect);
}

.projects__card-title {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
}

.projects__card-footer {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: 0;
}

.projects__card-footer h2 {
  margin-bottom: 8px;
}

.projects__card a {
  outline: none;
  display: block;
}

.projects__card a:hover,
.projects__card a:focus {
  box-shadow: var(--card-hover-shadow);
}

.projects__card a:hover .project__description,
.projects__card a:focus .project__description {
  bottom: 0;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--navy-blue-modal);
  transition: opacity var(--transition-duration) var(--transition-effect),
    visibility var(--transition-duration) var(--transition-effect);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--modal-shadow);
  width: 408px;
  height: 584px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.modal__close {
  align-self: flex-end;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navy-blue);
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-rd);
  transition: background-color var(--transition-duration)
      var(--transition-effect),
    color var(--transition-duration) var(--transition-effect),
    border-color var(--transition-duration) var(--transition-effect);
  outline: none;
}

.modal__close:active,
.modal__close:focus,
.modal__close:hover {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--white);
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.modal__form p {
  margin-top: 24px;
  text-align: center;
}

.modal__form .form-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  position: relative;
}

.modal__form .form-group--checkbox {
  flex-direction: row;
  gap: var(--gap-sm);
  align-items: center;
}

.modal__form input,
.modal__form textarea {
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: var(--border-radius-md);
  outline: none;
  font-size: 12px;
}

.modal__form input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
}

.modal__form input:focus,
.modal__form textarea:focus {
  border-color: var(--iris);
}

.modal__form input:focus + svg {
  color: var(--iris);
}

.modal__form .input-wrapper {
  position: relative;
}

.modal__form .input-wrapper svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 24px;
}

.modal__form textarea {
  resize: none;
}

.modal__form label {
  color: var(--light-slate);
  line-height: 14px;
  font-size: 12px;
  cursor: pointer;
}

.modal__form--main {
  gap: var(--gap-sm);
}

.modal__form button {
  margin: 8px auto 0;
  width: 170px;
}

.form-group--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-group--checkbox label a {
  color: var(--iris);
  text-decoration: underline;
}

.form-group--checkbox .checkmark {
  height: 16px;
  width: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: var(--border-radius-sm);
}

.form-group--checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group--checkbox .checkmark svg {
  opacity: 0;
  color: var(--white);
}

.form-group--checkbox input:checked ~ .checkmark {
  background-color: var(--ocean);
}

.form-group--checkbox input:checked ~ .checkmark svg {
  opacity: 1;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 1140px) {
  .section {
    padding: 96px 0;
  }

  .section--hero {
    padding: 112px 0;
  }

  .header__contacts ul {
    flex-direction: column;
    gap: 12px;
  }

  .header__contacts ul li {
    font-size: 12px;
    line-height: 14px;
  }

  .header__contacts ul a {
    padding: 0;
  }

  .hero__content h1 {
    max-width: 65%;
  }

  .description__wrapper {
    flex-wrap: wrap;
    column-gap: var(--gap-lg);
    row-gap: var(--gap-xxl);
  }

  .description__wrapper li {
    flex-basis: calc(50% - (var(--gap-lg) / 2));
    font-weight: 500;
  }

  .description__wrapper li h3 {
    font-size: 36px;
    line-height: 40px;
  }

  .description__icon {
    display: none;
  }

  .section--jobs {
    display: none;
  }

  .team__image-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--gap-lg);
    row-gap: 64px;
  }

  .customers {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--gap-lg);
    row-gap: var(--gap-xxl);
  }

  .footer__content {
    max-width: 552px;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap: var(--gap-lg);
    row-gap: var(--gap-xxl);
  }

  .footer__section:nth-child(1),
  .footer__section:nth-child(2) {
    flex-basis: calc(50% - (var(--gap-lg) / 2));
    margin: 0;
  }

  .section--projects {
    padding: 64px 0;
  }

  .projects__wrapper {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-column-gap: var(--gap-lg);
    grid-row-gap: var(--gap-xxl);
  }

  .projects__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tabs {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 610px) {
  .header__nav ul,
  .header__contacts {
    display: none;
  }
  
  .burger-menu {
    display: block;
  }

  .burger-menu .header__nav ul,
  .burger-menu .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .burger-menu button {
    background-color: transparent;
    padding: 0;
    width: 32px;
    height: 32px;
  }

  .burger-menu__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    transition: opacity var(--transition-duration) var(--transition-effect),
    visibility var(--transition-duration) var(--transition-effect);
  }

  .burger-menu__modal.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  .burger-menu__top {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .burger-menu__nav ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }

  .burger-menu__nav ul a {
    transition: color var(--transition-duration) var(--transition-effect);
  }

  .burger-menu__nav ul a:hover, 
  .burger-menu__nav ul a:focus,
  .burger-menu__nav ul a.active {
    color: var(--ocean);
  }

  .burger-menu__bottom {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl)
  }

  .burger-menu__contacts ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .burger-menu__contacts li:nth-child(1) a {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: var(--iris);
  }

  .burger-menu__contacts li:nth-child(2) a {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .burger-menu .socials {
    display: flex;
    justify-content: flex-start;
    gap: 56px;
  }

  .hero__content h1 {
    font-size: 36px;
    line-height: 40px;
    max-width: 85%;
  }

  .hero__content {
    gap: var(--gap-xxl);
  }

  .description__wrapper li {
    flex-basis: 100%;
    align-items: center;
  }

  .customers {
    column-gap: var(--gap-md);
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__section {
    align-items: center;
    width: 100%;
  }

  .footer__form {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-md);
  }

  .footer__form input {
    width: 100%;
  }

  .footer__form button {
    width: fit-content
  }

  .tabs {
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: var(--gap-lg);
    row-gap: var(--gap-md);
  }

  .tabs button {
    padding: 8px 16px;
  }

  .projects__wrapper {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-row-gap: var(--gap-xl);
  }

  .modal__content {
    width: 95%;
    height: fit-content;
  }
}
