<header class="header">
  <div class="container header__content">
    <nav class="header__nav">
      <a href="./index.html" class="logo">
        <span class="blue">web</span>studio
      </a>
      <ul>
        <li><a href="./index.html" data-path="index">Studio</a></li>
        <li><a href="./portfolio.html" data-path="portfolio">Portfolio</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>

    <address class="header__contacts">
      <ul>
        <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
        <li><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
      </ul>
    </address>

    <div class="burger-menu">
      <button class="menu-toggle" data-burger-open>
        <svg width="32" height="32">
          <use href="./images/icons.svg#burger-menu" />
        </svg>
      </button>

      <div class="burger-menu__modal is-hidden" data-burger>
        <div class="burger-menu__top">
          <button data-burger-close class="modal__close">
            <svg width="8" height="8">
              <use href="./images/icons.svg#close" />
            </svg>
          </button>
    
          <nav class="burger-menu__nav">
            <ul>
              <li><a href="./index.html" data-path="index">Studio</a></li>
              <li><a href="./portfolio.html" data-path="portfolio">Portfolio</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </nav>
        </div>

        <div class="burger-menu__bottom">
          <address class="burger-menu__contacts">
            <ul>
              <li><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
              <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
            </ul>
          </address>

          @@include('./socials.html', { "size": "24" })
        </div>
      </div>
    </div>
  </div>
</header>