<ul class="socials">
  <li>
    <a href="https://www.instagram.com/" target="_blank">
      <svg width="@@size" height="@@size">
        <use href="./images/icons.svg#instagram" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/" target="_blank">
      <svg width="@@size" height="@@size">
        <use href="./images/icons.svg#twitter" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/" target="_blank">
      <svg width="@@size" height="@@size">
        <use href="./images/icons.svg#facebook" />
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/" target="_blank">
      <svg width="@@size" height="@@size">
        <use href="./images/icons.svg#linkedin" />
      </svg>
    </a>
  </li>
</ul>